body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
}

.container{
    background-color: #FFFFFF;
    width: 1440px;
    height: 1204px;
}

.flex{
    display: flex;
}

.title-box{
    width: 674px;
    height: 80px;
    margin-top: 100px;
    margin-left: 64px;
}

h1{
    font-size: 88px;
    margin-bottom: 32px;
}

.text-button{
    width: 526px;
    height: 174px;
    margin-top: 122px;
    margin-bottom: 16px;
    margin-left: 122px;
}

.text-box{
    width: 526px;
    height: 108px;
}

h2{
    font-weight: 400;
    font-size: 26px;
}

.button-box{
    width: 157px;
    height: 50px;
}

p{
    background-color: #000000;
    width: 157px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.image-box{
    margin-top: 128px;
    width: 1313px;
    height: 732px;
    margin-left: 64px;
}
